h1, h2 {
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  margin-left: 15px;
}
h2 {
    margin-top: .5em;
    color: #d9e1e8;
}
h3 {
    color: #d9e1e8;
    margin-left: 15px;
}
p {
  font-family: Verdana, Geneva, sans-serif;
  margin: 15px 0 0 15px;
  color: white;
}

body {
    background-color: #282c37;
    padding-left: 20px;
    padding-right: 20px;
}

a:link {
    text-decoration: none;
    color: #2b90d9;
}

a:visited {
    color: #56a7e1;
}

a:hover {
    color: #52a5e0;
}

.main {
    text-align: center;
    font-size: 5vw;
}

.title {
    text-align: center;
    font-size: 8vw;
}

.screenshot {
    width: 80%;
    max-width: 500px;
    margin: auto;
    display: block;
}
